{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    eKPM Portal | Lease
{% endblock %}

{% block content %}

    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card">
                <h1>Lease for : {{ lease.tenant }}</h1>
                <table id="form:j_idt112:0:j_idt113"
                       class="ui-panelgrid ui-widget ui-panelgrid-blank" style="width:100%"
                       role="grid">
                    <thead class="ui-panelgrid-header">
                    <tr class="ui-widget-header" role="row">
                        <td colspan="2" role="columnheader"
                            class="ui-panelgrid-cell ui-widget-header">
                            <h1 id="form:j_idt112:0:j_idt114" style="display:inline-block;margin-bottom:15px">
                                Details
                            </h1>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="ui-widget-content" role="row" style="border: 1px solid #3e4da1;">
                        <td role="gridcell" class="ui-panelgrid-cell">Property:</td>
                        <td role="gridcell" class="ui-panelgrid-cell">
                            <span style="font-weight:700">{{ tenant.property }}</span>
                        </td>
                    </tr>
                    <tr class="ui-widget-content" role="row" style="border: 1px solid #3e4da1;">
                        <td role="gridcell" class="ui-panelgrid-cell">Tenant Name:</td>
                        <td role="gridcell" class="ui-panelgrid-cell">
                            <span style="font-weight:700"> {{ tenant.tenant_name }} </span>
                        </td>
                    </tr>
                    <tr class="ui-widget-content" role="row" style="border: 1px solid #3e4da1;">
                        <td role="gridcell" class="ui-panelgrid-cell">Trading As / List Name:</td>
                        <td role="gridcell" class="ui-panelgrid-cell">
                            <span style="font-weight:700"> {{ tenant.trading_as_list_name }} </span>
                        </td>
                    </tr>
                    <tr class="ui-widget-content" role="row" style="border: 1px solid #3e4da1;">
                        <td role="gridcell" class="ui-panelgrid-cell">Identification Type:</td>
                        <td role="gridcell" class="ui-panelgrid-cell">
                            <span style="font-weight:700"> {{ tenant.identification_type }} </span>
                        </td>
                    </tr>
                    <tr class="ui-widget-content" role="row" style="border: 1px solid #3e4da1;">
                        <td role="gridcell" class="ui-panelgrid-cell">Identification Number:</td>
                        <td role="gridcell" class="ui-panelgrid-cell">
                            <span style="font-weight:700"> {{ tenant.identification }} </span>
                        </td>
                    </tr>
                    <tr class="ui-widget-content" role="row" style="border: 1px solid #3e4da1;">
                        <td role="gridcell" class="ui-panelgrid-cell">Email:</td>
                        <td role="gridcell" class="ui-panelgrid-cell">
                            <span style="font-weight:700"> {{ tenant.email_1 }} </span>
                        </td>
                    </tr>
                    <tr class="ui-widget-content" role="row" style="border: 1px solid #3e4da1;">
                        <td role="gridcell" class="ui-panelgrid-cell">Alternate Email:</td>
                        <td role="gridcell" class="ui-panelgrid-cell">
                            <span style="font-weight:700"> {{ tenant.email_2 }} </span>
                        </td>
                    </tr>
                    <tr class="ui-widget-content" role="row" style="border: 1px solid #3e4da1;">
                        <td role="gridcell" class="ui-panelgrid-cell">Phone:</td>
                        <td role="gridcell" class="ui-panelgrid-cell">
                            <span style="font-weight:700"> {{ tenant.phone_1 }} </span>
                        </td>
                    </tr>
                    <tr class="ui-widget-content" role="row" style="border: 1px solid #3e4da1;">
                        <td role="gridcell" class="ui-panelgrid-cell">Alternate Phone:</td>
                        <td role="gridcell" class="ui-panelgrid-cell">
                            <span style="font-weight:700"> {{ tenant.phone_2 }} </span>
                        </td>
                    </tr>
                    <tr class="ui-widget-content" role="row" style="border: 1px solid #3e4da1;">
                        <td role="gridcell" class="ui-panelgrid-cell">Postal Address:</td>
                        <td role="gridcell" class="ui-panelgrid-cell">
                            <span style="font-weight:700"> {{ tenant.postal_address }} </span>
                        </td>
                    </tr>
                    <tr class="ui-widget-content" role="row" style="border: 1px solid #3e4da1;">
                        <td role="gridcell" class="ui-panelgrid-cell">Domicile Address:</td>
                        <td role="gridcell" class="ui-panelgrid-cell">
                            <span style="font-weight:700"> {{ tenant.domicile_address }} </span>
                        </td>
                    </tr>
                    <tr class="ui-widget-content" role="row" style="border: 1px solid #3e4da1;">
                        <td role="gridcell" class="ui-panelgrid-cell">Nationality:</td>
                        <td role="gridcell" class="ui-panelgrid-cell">
                            <span style="font-weight:700"> {{ tenant.nationality }} </span>
                        </td>
                    </tr>
                    <tr class="ui-widget-content" role="row" style="border: 1px solid #3e4da1;">
                        <td role="gridcell" class="ui-panelgrid-cell">Date Created:</td>
                        <td role="gridcell" class="ui-panelgrid-cell">
                            <span style="font-weight:700"> {{ tenant.date_created }} </span>
                        </td>
                    </tr>
                    <tr class="ui-widget-content" role="row" style="border: 1px solid #3e4da1;">
                        <td role="gridcell" class="ui-panelgrid-cell">Extra Details:</td>
                        <td role="gridcell" class="ui-panelgrid-cell">
                            <span style="font-weight:700"> {{ tenant.details }} </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="ui-g">
                    <div>
                        <a id="j_idt180" href="#"
                           class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only purple-btn"
                           style="margin-bottom:10px; margin-top: 10px" type="button"><span
                                class="ui-button-text ui-c">Update</span></a>
                        <script id="j_idt180_s"
                                type="text/javascript">PrimeFaces.cw("CommandButton", "widget_j_idt180", {id: "j_idt180"});</script>

                        <a id="j_idt182"
                           class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only red-btn"
                           style="margin-bottom:10px; margin-top: 10px" type="button"><span
                                class="ui-button-text ui-c">Delete</span></a>
                        <script id="j_idt182_s"
                                type="text/javascript">PrimeFaces.cw("CommandButton", "widget_j_idt182", {id: "j_idt182"});</script>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

