{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    eKPM Portal | Property
{% endblock %}

{% block content %}

    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Property</h1>
                <div class="ui-g ui-fluid">
                    <div>
                        <form method="POST" action="{% url 'manager:properties_new' %}" class="ui-g-12">
                            {% include 'base_form.html' with form=form %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

